certifi==2020.12.5
chardet==4.0.0
docutils==0.17
greenlet==1.0.0
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivy-garden.mapview==1.0.5
mysql==0.0.2
mysql-connector-python==8.0.23
mysqlclient==2.0.3
Pillow==8.2.0
protobuf==3.15.7
Pygments==2.8.1
pypiwin32==223
pywin32==300
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.5
urllib3==1.26.4
